.App {
  text-align: center;
}

.App-logo {
  width: 40px;
  margin-right: 20px;
}

.App-header {
  text-align: left;
  background-color: #008800;
  height: 100%;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.driver-form {
  margin: 50px;
  text-align: left;
  max-width: 300px;
}

.driver-input {
  margin-bottom: 15px;
}

.driver-input label {
  display: inline-block;
  width: 20%;
}

.driver-input input {
  width: 70%;
}

.section-title {
  text-align: center;
}
